
<div class="container-fluid mt-5">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
        <app-side-nav></app-side-nav>
      </div>

      
      <div class="col-md-10">
      

        <ul class="nav nav-pills mb-3 sub-navbar " id="pills-tab" role="tablist">
         
           <div class="row ml-4 ">
            <li class="nav-item">
               <div class="row"[routerLink]="[ '/home/nearby' ] " routerLinkActive>
         
              <i class="fas fa-map-marker-alt"></i>
              <span class="ml-2 mr-5"> Nearby</span>
            
              </div>
          </li>
          <li class="nav-item">
          <div  class="mr-5" [routerLink]="[ '/home/switch-gender' ] " routerLinkActive>
  
            <i class="fas fa-random "></i> Switch Gender
          
          </div>
          </li>
          </div>
 
      
        <div class="row justify-content-center offset-md-1">
          
       
          <li class="nav-item">
            <a routerLink="profiles">
              <span id="nav-link-profile"><i class="fas fa-id-badge ml-3 mr-3"></i> Profiles <span
                  class="badge badge-primary ml-1"></span></span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="broadcast">
              <span id="nav-link-broadcast">
                <i class="fas fa-broadcast-tower ml-3 mr-3"></i> Broadcast <span class="badge badge-danger ml-1">0</span></span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="online-users">
              <span id="nav-link-online-users">
                <i class="fas fa-user-friends ml-3 mr-3"></i> Online Users <span class="badge badge-success ml-1" [innerText]="countNotifications" ></span>
              </span>
              </a>
              </li>
            </div>
        </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <router-outlet ></router-outlet>
        </div>

      </div>
    </div>
    </div>

  </div>

</div>

<div *ngIf="!notEmptyPost" class="row pb-5">
  <div class="col-md-1 d-flex hustify-content-center">
    <div class="text-muted h6 alert alert-secondary p-2">No more item to show</div>
  </div>
</div>
